##### EVENT DISPLAY CONFIG FILE #####
# Lines beginning with # and empty lines are ignored
# Config file should be a group of lines as follows:
#
# [GIF/P5] [MEAS/FILE]
# [ENTRY] [CHAM]
# ...
#
# That is, the first line of a group should be one of
#
# GIF [MEAS]
# P5 [FILE]
#
# and following lines should be pairs consisting of
#
# ENTRY (index) CHAM (id)
#

P5 /afs/cern.ch/user/c/cschnaib/public/GIF/ana_P5.root
96315  417
143561 414
278928 13
322525 412

GIF 3250
1 1
2 1
3 1
4 1
5 1
